// Nova Tool CSS
@import'~vue-form-wizard/dist/vue-form-wizard.min.css';
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$label-background:rgb(155, 89, 182);
$label-color: white;
$slider-track-background:rgb(155, 89, 182);
// import the styling,
@import "~vue-custom-range-slider/dist/vue-custom-range-slider.scss";
